.card-wrapper {
  max-width: 55rem;
  border: 1px solid $grey;
  border-radius: 5px;
  float: right;
}

.card-item {
  background: $dashboard-bg;
  border-radius: 3px 3px 0 0;
}

.logo-block {
  padding: 5px;
}

.logo-block__title {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  font-weight: 700;
  background: #000;
  color: white;
}

.card-item__title {
  margin: 0 $m-size;
  color: white;
  font-size: 4rem;  text-align: center;
  line-height: 1.2;
  font-weight: 300;
  border-radius: 5px;
}
