.navy {
  max-width: 230px;
  min-height: 100vh;
  /*background: #0e1a35;*/
  background: -moz-linear-gradient(0deg, rgba(14, 26, 53, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(14, 26, 53, 1)), color-stop(50%, rgba(5, 193, 255, 1)), color-stop(100%, rgba(0, 51, 51, 1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, rgba(14, 26, 53, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, rgba(14, 26, 53, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, rgba(14, 26, 53, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%); /* ie10+ */
  background: linear-gradient(90deg, rgba(14, 26, 53, 1) 0%, rgba(5, 193, 255, 1) 50%, rgba(0, 51, 51, 1) 100%);
  overflow: hidden;
}

.navy-block__item {
  padding: $s-size;
  border-left: 8px solid transparent;
  border-bottom: 1px solid #767676;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  //transition: 200ms ease-in;
  overflow: hidden;
  position: relative;
}

  @keyframes sheen {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
  }

  .navy-block__item:hover {
    transform: scale(1.2);
  }

  .navy-block__item::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  .navy-block__item:hover::after,
  .navy-block__item:focus::after {
    animation: sheen 1s forwards;
  }

  .navy-block__link {
    background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
    background: linear-gradient(to right,#ff8a00,#da1b60);
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
  }

